* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

.l-layout { *zoom: 1; }
.l-layout:after { content: " "; display: table; clear: both; }

.l-sidebar { float: left; width: 210px; margin-right: -210px; min-height: 910px; }

.l-main { position: relative; margin-left: 210px; overflow: hidden; background: white; }

@font-face { font-family: "BrutalType"; src: url("../fonts/BrutalType-Regular.eot"); src: url("../fonts/BrutalType-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/BrutalType-Regular.woff") format("woff"), url("../fonts/BrutalType-Regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: "BrutalType Medium"; src: url("../fonts/BrutalType-Medium.eot"); src: url("../fonts/BrutalType-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/BrutalType-Medium.woff") format("woff"), url("../fonts/BrutalType-Medium.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: "BrutalType Light"; src: url("../fonts/BrutalType-Light.eot"); src: url("../fonts/BrutalType-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/BrutalType-Light.woff") format("woff"), url("../fonts/BrutalType-Light.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: "BrutalType Bold"; src: url("../fonts/BrutalType-Bold.eot"); src: url("../fonts/BrutalType-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/BrutalType-Bold.woff") format("woff"), url("../fonts/BrutalType-Bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: "WebSymbolsLigaRegular"; src: url("../fonts/websymbolsligaregular.eot"); src: url("../fonts/websymbolsligaregular.eot?#iefix") format("embedded-opentype"), url("../fonts/websymbolsligaregular.woff") format("woff"), url("../fonts/websymbolsligaregular.ttf") format("truetype"); font-weight: normal; font-style: normal; }

body { font-family: "BrutalType", Arial, sans-serif; font-weight: normal; font-style: normal; font-size: 14px; line-height: 1.4; background-color: #f2f2eb; color: #4a4a4a; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -ms-font-smoothing: antialiased; -o-font-smoothing: antialiased; min-width: 1000px; }

a { color: #4a4a4a; text-decoration: none; }

.icon { display: inline-block; vertical-align: middle; }
.icon.icon_signout { background: url("../img/svg/signout.svg") no-repeat 0 0; -moz-background-size: 18px 24px 100%; -webkit-background-size: 18px 24px 100%; background-size: 18px 24px 100%; width: 18px; height: 24px; display: inline-block; }
.icon.icon_signin { background: url("../img/svg/signin.svg") no-repeat 0 0; -moz-background-size: 27px 27px 100%; -webkit-background-size: 27px 27px 100%; background-size: 27px 27px 100%; width: 27px; height: 27px; display: inline-block; }
.icon.icon_list { background: url("../img/svg/sort_list.svg") no-repeat 0 0; -moz-background-size: 28px 28px 100%; -webkit-background-size: 28px 28px 100%; background-size: 28px 28px 100%; width: 28px; height: 28px; display: inline-block; }
.icon.icon_pin { background: url("../img/svg/sort_pin.svg") no-repeat 0 0; -moz-background-size: 24px 40px 100%; -webkit-background-size: 24px 40px 100%; background-size: 24px 40px 100%; width: 24px; height: 40px; display: inline-block; }
.icon.icon_fb { background: url("../img/svg/fb.svg") no-repeat 0 0; -moz-background-size: 30px 30px 100%; -webkit-background-size: 30px 30px 100%; background-size: 30px 30px 100%; width: 30px; height: 30px; display: inline-block; }
.icon.icon_vk { background: url("../img/svg/vk.svg") no-repeat 0 0; -moz-background-size: 30px 30px 100%; -webkit-background-size: 30px 30px 100%; background-size: 30px 30px 100%; width: 30px; height: 30px; display: inline-block; }
.icon.icon_ios { background: url("../img/svg/ios.svg") no-repeat 0 0; -moz-background-size: 100px 28px 100%; -webkit-background-size: 100px 28px 100%; background-size: 100px 28px 100%; width: 100px; height: 28px; display: inline-block; }
.icon.icon_android { background: url("../img/svg/android.svg") no-repeat 0 0; -moz-background-size: 100px 28px 100%; -webkit-background-size: 100px 28px 100%; background-size: 100px 28px 100%; width: 100px; height: 28px; display: inline-block; }

.out { min-width: 1000px; max-width: 1200px; margin: 0 auto; }

.header { padding-top: 30px; position: relative; text-align: right; }
.header .header__in { height: 61px; background: white; background: rgba(255, 255, 255, 0.88); *zoom: 1; padding: 0 20px 0 0; -webkit-box-shadow: 0 0 10px rgba(51, 48, 48, 0.12); -moz-box-shadow: 0 0 10px rgba(51, 48, 48, 0.12); box-shadow: 0 0 10px rgba(51, 48, 48, 0.12); }
.header .header__in:after { content: " "; display: table; clear: both; }
.header .header__logo { float: left; position: relative; margin-top: -10px; height: 71px; overflow: hidden; }
.header .header__logo a { background: url("../img/svg/logo.svg") no-repeat 0 0; -moz-background-size: 210px 132px 100%; -webkit-background-size: 210px 132px 100%; background-size: 210px 132px 100%; width: 210px; height: 132px; display: inline-block; display: block; font: 0/0 a; text-shadow: none; color: transparent; }
.header .header__count { float: left; margin-left: 18px; margin-top: 17px; font-size: 18px; color: #393939; line-height: 30px; }
.header .header__count strong { display: inline-block; vertical-align: middle; font-size: 30px; color: #ffbf00; font-family: "BrutalType Bold", Arial, sans-serif; font-weight: normal; font-style: normal; }
.header .header__menu { position: relative; display: inline-block; vertical-align: top; padding-top: 24px; padding-right: 30px; }
.header .header__menu:before { position: absolute; top: 50%; margin-top: -10px; right: 0; content: ""; background: url('../img/icons-sbc57d64bb4.png') 0 0 no-repeat; width: 1px; height: 41px; }
.header .header__menu li { display: inline-block; vertical-align: middle; text-transform: uppercase; margin-left: 26px; font-size: 14px; font-family: "BrutalType Medium", Arial, sans-serif; font-weight: normal; font-style: normal; }
.header .header__menu a { text-decoration: none; color: #7a7a7a; }
.header .header__user { display: inline-block; vertical-align: top; margin-top: 20px; font-size: 0; }
.header .header__user li { display: inline-block; margin-left: 30px; font-size: 16px; font-family: "BrutalType Medium", Arial, sans-serif; font-weight: normal; font-style: normal; }
.header .header__user a { display: block; text-decoration: none; color: #7a7a7a; }
.header .header__user a .icon_signout { position: relative; top: -1px; }
.header .header__user a .icon_signin { position: relative; top: -2px; margin-right: 7px; }
.header .header__username { display: inline-block; vertical-align: middle; font-size: 18px; font-family: "BrutalType Medium", Arial, sans-serif; font-weight: normal; font-style: normal; max-width: 220px; overflow: hidden; -ms-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; }

.teaser { position: relative; font-family: "BrutalType Light", Arial, sans-serif; font-weight: normal; font-style: normal; height: 68px; line-height: 66px; background: #9fa3fb; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #7d81cf), color-stop(100%, #9fa3fb)); background-image: -webkit-linear-gradient(bottom, #7d81cf 0%, #9fa3fb 100%); background-image: -moz-linear-gradient(bottom, #7d81cf 0%, #9fa3fb 100%); background-image: -o-linear-gradient(bottom, #7d81cf 0%, #9fa3fb 100%); background-image: linear-gradient(bottom, #7d81cf 0%, #9fa3fb 100%); color: white; text-align: center; padding: 0 65px; font-size: 25px; }
.teaser:before { position: absolute; top: -7px; left: 254px; width: 0px; height: 0px; border-style: solid; border-width: 0 13.5px 7px 13.5px; border-color: transparent transparent #9fa3fb transparent; -ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg); content: ""; }
.teaser a { display: inline-block; font-family: "BrutalType Medium", Arial, sans-serif; font-weight: normal; font-style: normal; color: inherit; text-decoration: none; }
.teaser p { display: inline-block; vertical-align: middle; line-height: 1; overflow: hidden; -ms-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; }
.teaser p a { border-bottom: 1px solid white; }
.teaser p a:hover { text-decoration: none; border: none; }
.teaser .teaser__reload { position: absolute; top: 50%; right: 20px; height: 30px; width: 30px; text-align: center; line-height: 30px; margin-top: -15px; text-decoration: none; -webkit-transition: -webkit-transform 0.2s ease-in; -moz-transition: -moz-transform 0.2s ease-in; -o-transition: -o-transform 0.2s ease-in; transition: transform 0.2s ease-in; font-family: "WebSymbolsLigaRegular"; font-weight: normal; font-style: normal; text-transform: none !important; }
.teaser .teaser__reload:before { content: "\0057"; }

.page { -webkit-box-shadow: 0 0 21px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 0 21px rgba(0, 0, 0, 0.15); box-shadow: 0 0 21px rgba(0, 0, 0, 0.15); }

.content { position: relative; background: #f7f7f7; }

.main-content { padding: 10px 10px 30px 10px; }
.main-content.single-column { padding: 50px 10px; }

.footer { min-height: 195px; background: white; background: rgba(255, 255, 255, 0.88); padding: 35px 20px 35px 85px; }
.footer .footer__row { margin-top: 25px; *zoom: 1; width: 100%; }
.footer .footer__row:after { content: " "; display: table; clear: both; }
.footer .footer__row:first-child { margin-top: 0; }
.footer a { color: #4a4a4a; }
.footer .footer__col1, .footer .footer__col2, .footer .footer__col3 { float: left; }
.footer .footer__col1 { width: 33%; padding-right: 30px; }
.footer .footer__col2 { width: 45.8%; }
.footer .footer__col3 { width: 21.2%; text-align: right; }
.footer .footer__partners { font-size: 0; }
.footer .footer__partners li { display: inline-block; vertical-align: middle; margin-left: 25px; }
.footer .footer__partners li:first-child { margin-left: 0; }
.footer .footer__partners a { text-decoration: none; border: none; }
.footer .footer__partners a:hover { color: #087380; text-decoration: none; }
.footer .footer__app { display: inline-block; vertical-align: top; margin-top: 12px; margin-right: 65px; }
.footer .footer__app li { float: left; margin-left: 25px; -webkit-transition: opacity 0.3s linear; -moz-transition: opacity 0.3s linear; -o-transition: opacity 0.3s linear; transition: opacity 0.3s linear; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; }
.footer .footer__app li:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
.footer .footer__app li:first-child { margin-left: 0; }
.footer .footer__app a { display: block; font: 0/0 a; text-shadow: none; color: transparent; text-decoration: none; border: none; }
.footer .footer__socials { display: inline-block; vertical-align: top; margin-top: 13px; *zoom: 1; }
.footer .footer__socials:after { content: " "; display: table; clear: both; }
.footer .footer__socials li { float: left; margin-left: 15px; -webkit-transition: opacity 0.3s linear; -moz-transition: opacity 0.3s linear; -o-transition: opacity 0.3s linear; transition: opacity 0.3s linear; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; }
.footer .footer__socials li:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
.footer .footer__socials li:first-child { margin-left: 0; }
.footer .footer__socials a { display: block; font: 0/0 a; text-shadow: none; color: transparent; text-decoration: none; border: none; }
.footer .footer__copyright { position: relative; }
.footer .footer__copyright span { position: absolute; left: -65px; }
.footer .footer__menu { *zoom: 1; }
.footer .footer__menu:after { content: " "; display: table; clear: both; }
.footer .footer__menu ul { font-size: 0; display: table-cell; vertical-align: top; padding-left: 30px; }
.footer .footer__menu ul:first-child { padding-left: 0; }
.footer .footer__menu li { margin-top: 5px; text-align: left; font-size: 14px; }
.footer .footer__menu li:first-child { margin-top: 0; }
.footer .footer__menu a { color: #4a4a4a; text-decoration: none; -webkit-transition: color 0.25s ease-out, background 0.25s ease-out, border-color 0.25s ease-out, box-shadow 0.25s ease-out; -moz-transition: color 0.25s ease-out, background 0.25s ease-out, border-color 0.25s ease-out, box-shadow 0.25s ease-out; -o-transition: color 0.25s ease-out, background 0.25s ease-out, border-color 0.25s ease-out, box-shadow 0.25s ease-out; transition: color 0.25s ease-out, background 0.25s ease-out, border-color 0.25s ease-out, box-shadow 0.25s ease-out; border-bottom: 1px solid rgba(148, 148, 148, 0.3); }
.footer .footer__menu a:hover { color: #087380; text-decoration: none; border-color: rgba(8, 115, 128, 0.3); }
.footer .footer__studio { display: inline-block; width: 127px; text-align: left; }
.footer .footer__studio strong { font-family: "BrutalType Bold", Arial, sans-serif; font-weight: normal; font-style: normal; }

.article { padding: 0px 60px 10px 110px; }
.article h1 { font-family: "BrutalType Light", Arial, sans-serif; font-weight: normal; font-style: normal; font-size: 50px; line-height: 1; margin-left: -60px; margin-bottom: 50px; }
.article h2 { font-family: "BrutalType Medium", Arial, sans-serif; font-weight: normal; font-style: normal; font-size: 25px; line-height: 1; margin-left: -60px; margin-top: 30px; margin-bottom: 30px; }
.article p { line-height: 30px; font-size: 18px; margin-right: 30px; margin-top: 30px; }
.article figure { margin-top: 30px; margin-bottom: 30px; }
.article figure img { display: block; }

.filter { border: 1px solid #e0e0e0; border-width: 1px 0 0 0; padding: 20px; }
.filter:first-child { border: none; }
.filter.filter_switch { font-size: 0; }
.filter.filter_switch li { display: inline-block; margin-left: 10px; text-align: center; }
.filter.filter_switch li:first-child { margin-left: 0; }
.filter.filter_switch li.is-active a { background: white; }
.filter.filter_switch a { position: relative; display: block; width: 80px; height: 80px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; text-decoration: none; color: #7a7a7a; padding-top: 60px; }
.filter.filter_switch a .icon { position: absolute; top: 10px; left: 50%; }
.filter.filter_switch a .icon_list { top: 15px; margin-left: -14px; }
.filter.filter_switch a .icon_pin { top: 8px; margin-left: -12px; }
.filter.filter_switch span { display: block; font-family: "BrutalType Medium", Arial, sans-serif; font-weight: normal; font-style: normal; font-size: 12px; line-height: 1; text-transform: uppercase; }
.filter.filter_sort { padding: 20px 10px 14px 20px; }
.filter.filter_sort li { margin-top: 14px; }
.filter.filter_sort li:first-child { margin-top: 0; }
.filter.filter_select { padding: 0; }
.filter.filter_categories { padding: 20px 15px; }
.filter.filter_categories li.is-active a { background: white; color: #5f5f5f; }
.filter.filter_categories a { font-family: "BrutalType Bold", Arial, sans-serif; font-weight: normal; font-style: normal; display: inline-block; padding: 14px 16px 11px; line-height: 15px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -ms-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; font-size: 15px; color: #7a7a7a; text-transform: uppercase; text-decoration: none; letter-spacing: 0.03em; }
.filter.filter_categories a:hover { color: #5f5f5f; }

.checkbox { position: relative; padding-left: 28px; display: inline-block; vertical-align: middle; cursor: pointer; font-size: 0; min-height: 20px; text-align: left; }
.checkbox .fa-check { position: absolute; left: 0; top: 0; width: 20px; height: 20px; font-size: 16px; background: white; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; border: 1px solid #b7b7b7; font-style: normal; cursor: pointer; color: #4a4a4a; }
.checkbox .fa-check:before { display: none; margin: 1px 0 0 1px; color: #7a7a7a; }
.checkbox span { display: inline-block; vertical-align: middle; font-size: 15px; line-height: 20px; color: #7a7a7a; letter-spacing: 0.025em; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.checkbox span .fa { margin-right: 7px; }
.checkbox input { position: absolute; left: 0; top: 0; z-index: 2; width: 20px; height: 20px; opacity: 0; cursor: pointer; }
.checkbox input:checked + .fa-check:before { display: inline-block; }

.select { position: relative; }
.select input { display: block; font-family: "BrutalType", Arial, sans-serif; font-weight: normal; font-style: normal; width: 100%; background: none; font-size: 15px; color: #7a7a7a; padding: 17px 45px 17px 25px; overflow: hidden; -ms-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; }
.select .fa { position: absolute; top: 17px; right: 26px; font-size: 18px; color: #979797; }
.select select { position: absolute; z-index: 2; cursor: pointer; -webkit-appearance: none; top: 0; left: 0; width: 100%; height: 100%; margin: 0; opacity: 0; }

.btn { font-family: "BrutalType Medium", Arial, sans-serif; font-weight: normal; font-style: normal; display: inline-block; padding: 13px 20px; font-size: 18px; line-height: 18px; border: 4px solid #f2cb12; -webkit-border-radius: 13px; -moz-border-radius: 13px; -ms-border-radius: 13px; -o-border-radius: 13px; border-radius: 13px; -webkit-transition: all 150ms linear; -moz-transition: all 150ms linear; -o-transition: all 150ms linear; transition: all 150ms linear; color: #4a4a4a; text-decoration: none; white-space: nowrap; }
.btn:hover { color: white; background: #f2cb12; }

.g-row { *zoom: 1; margin-right: -10%; overflow: hidden; }
.g-row:after { content: " "; display: table; clear: both; }

.g { float: left; height: 0; }
.g.h1 { padding-bottom: 61.4%; }
.g.h2 { padding-bottom: 30.7%; }
.g.w1 { width: 61.4%; }
.g.w2 { width: 30.7%; }
.g.w3 { width: 30.7%; }
.g.h50 { width: 100%; padding-bottom: 100%; }

.offers { overflow: hidden; }

.offer { float: left; position: relative; overflow: hidden; background: black; cursor: pointer; }
.offer:before { position: absolute; right: 0; bottom: 0; left: 0; height: 10px; background: white; content: ""; z-index: 1; }
.offer:after { position: absolute; top: 0; right: 0; bottom: 0; width: 10px; background: white; content: ""; z-index: 1; }
.offer:hover .offer__cover { -webkit-transform: scale(1.3); -moz-transform: scale(1.3); -ms-transform: scale(1.3); -o-transform: scale(1.3); transform: scale(1.3); }
.offer:hover .offer__overlay { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40); opacity: 0.4; }
.offer .offer__cover { position: absolute; top: -2px; left: -2px; right: -2px; bottom: -2px; background-repeat: no-repeat; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); -webkit-transition: -webkit-transform 4s linear; -moz-transition: -moz-transform 4s linear; -o-transition: -o-transform 4s linear; transition: transform 4s linear; display: block; }
.offer .offer__overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; -webkit-transition: all 500ms linear; -moz-transition: all 500ms linear; -o-transition: all 500ms linear; transition: all 500ms linear; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; background-color: black; }
.offer .offer__info { position: absolute; bottom: 20px; left: 10px; right: 20px; z-index: 1; color: white; }
.offer .offer__heading { margin-bottom: 5px; }
.offer .offer__title { font-family: "BrutalType Medium", Arial, sans-serif; font-weight: normal; font-style: normal; font-size: 25px; line-height: 28px; padding-right: 70px; }
.offer .offer__date { font-family: "BrutalType Medium", Arial, sans-serif; font-weight: normal; font-style: normal; font-size: 14px; text-transform: uppercase; padding-bottom: 10px; margin-bottom: 20px; position: relative; }
.offer .offer__date:before { position: absolute; bottom: 0; left: -2px; right: -2px; height: 1px; background: white; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40); opacity: 0.4; content: ""; }
