

body
	+bt
	font-size: 14px
	line-height: 1.4
	background-color: #f2f2eb
	color: #4a4a4a
	+font-smoothing
	min-width: 1000px

a
	color: #4a4a4a
	text-decoration: none

.icon
	display: inline-block
	vertical-align: middle
	&.icon_signout
		+svg(signout, 18, 24)
	&.icon_signin
		+svg(signin, 27, 27)
	&.icon_list
		+svg(sort_list, 28, 28)
	&.icon_pin
		+svg(sort_pin, 24, 40)
	&.icon_fb
		+svg(fb, 30, 30)
	&.icon_vk
		+svg(vk, 30, 30)
	&.icon_ios
		+svg(ios, 100, 28)
	&.icon_android
		+svg(android, 100, 28)
	&.icon_spinner
		+svg(spinner, 22, 22)

%in
	min-width: 1000px
	max-width: 1200px
	margin: 0 auto

.out
	@extend %in


.clear
	+clr

.header
	padding-top: 30px
	position: relative
	text-align: right
	.header__in
		height: 61px
		background: #fff
		background: rgba(#fff, .88)
		+clr
		padding: 0 20px 0 0
		+box-shadow(0 0 10px rgba(51,48,48,.12))
	.header__logo
		float: left
		position: relative
		margin-top: -10px
		height: 71px
		overflow: hidden
		// +transition(all .2s linear)
		+transition(all 600ms ceaser($easeInExpo))
		&:hover
			+transition(all 600ms ceaser($easeOutExpo))
			height: 81px
			margin-top: -20px
		a
			+svg(logo, 210, 132)
			display: block
			+hidetext
	.header__count
		float: left
		margin-left: 18px
		margin-top: 17px
		font-size: 18px
		color: #393939
		line-height: 30px
		strong
			display: inline-block
			vertical-align: middle
			font-size: 30px
			color: #ffbf00
			+btb
		span
			display: inline-block
			vertical-align: middle
	.header__menu
		position: relative
		display: inline-block
		vertical-align: top
		padding-top: 24px
		padding-right: 30px
		&:before
			position: absolute
			top: 50%
			margin-top: -10px
			right: 0
			content: ""
			+s(menu_separator)
		li
			display: inline-block
			vertical-align: middle
			text-transform: uppercase
			margin-left: 26px
			font-size: 14px
			+btm
			&:hover
				a
					color: #000
		a
			text-decoration: none
			color: $gray
			+transition(all .2s linear)
	.header__user
		display: inline-block
		vertical-align: top
		margin-top: 20px
		font-size: 0
		li
			display: inline-block
			margin-left: 30px
			font-size: 16px
			+btm
			&:hover
				a
					color: #000
					.icon
						+opacity(1)
		a
			display: block
			text-decoration: none
			color: $gray
			+transition(all .2s linear)
			.icon
				+transition(all .2s linear)
				+opacity(.5)
			.icon_signout
				position: relative
				top: -1px
			.icon_signin
				position: relative
				top: -2px
				margin-right: 7px
	.header__username
		display: inline-block
		vertical-align: middle
		font-size: 18px
		+btm
		max-width: 220px
		+text-overflow

.teaser
	position: relative
	+btl
	height: 68px
	line-height: 66px
	background: #9fa3fb
	+background-image(linear-gradient(bottom, #7d81cf 0%, #9fa3fb 100%))
	text-align: center
	padding: 0 65px
	font-size: 25px
	&:before
		position: absolute
		top: -7px
		left: 254px
		+arr(27, 7, #9fa3fb, t)
		+rotate(360)
		content: ""
	a
		display: inline-block
		+btm
		color: inherit
		text-decoration: none
	p
		display: inline-block
		vertical-align: middle
		line-height: 1
		+text-overflow
		color: rgba(#fff, .8)
		+transition(all .2s linear)
		&:hover
			color: #fff
		a
			color: inherit
			border-bottom: 1px solid rgba(#fff, .8)
			+transition(all .2s linear)
			&:hover
				color: #fff
				text-decoration: none
				border-color: #fff
	.teaser__reload
		position: absolute
		top: 50%
		right: 20px
		height: 30px
		width: 30px
		text-align: center
		line-height: 30px
		margin-top: -15px
		color: #fff
		color: rgba(#fff, .8)
		+transition(all .2s ease-in)
		+ws
		&:before
			content: "\0057"
		&:hover
			+gpu
			+scale(1.1)
			color: #fff
		// &:active
		// 	text-shadow: 0 -1px 0 rgba(#000, .3)

.page
	+box-shadow(0 0 21px rgba(0,0,0,.15))

.content
	position: relative
	background: #f7f7f7

.main-content
	padding: 10px 10px 30px 10px
	&.single-column
		padding: 50px 10px

.footer
	min-height: 195px
	background: #fff
	background: rgba(#fff, .88)
	padding: 35px 20px 35px 85px
	.footer__row
		margin-top: 25px
		+clr
		width: 100%
		&:first-child
			margin-top: 0
	a
		color: #4a4a4a

	.footer__col1,
	.footer__col2,
	.footer__col3
		float: left
		// display: table-cell
		// vertical-align: top

	.footer__col1
		// width: 29.7%
		// width: 27.83%
		width: 33%
		padding-right: 30px
	.footer__col2
		// width: 45.9%
		// width: 40.6%
		width: 45.8%
	.footer__col3
		// width: 20.3%
		// width: 18.45%
		width: 21.2%
		text-align: right

	.footer__partners
		font-size: 0
		li
			display: inline-block
			vertical-align: middle
			margin-left: 25px
			+transition(opacity .3s linear)
			+opacity(.8)
			&:hover
				+opacity(1)
			&:first-child
				margin-left: 0
		a
			text-decoration: none
			border: none
			&:hover
				color: #087380
				text-decoration: none
	.footer__app
		display: inline-block
		vertical-align: top
		margin-top: 12px
		margin-right: 65px
		li
			float: left
			margin-left: 25px
			+transition(opacity .3s linear)
			+opacity(.8)
			&:hover
				+opacity(1)
			&:first-child
				margin-left: 0
		a
			display: block
			+hidetext
			text-decoration: none
			border: none
	.footer__socials
		display: inline-block
		vertical-align: top
		margin-top: 13px
		+clr
		li
			float: left
			margin-left: 15px
			+transition(opacity .3s linear)
			+opacity(.8)
			&:hover
				+opacity(1)
			&:first-child
				margin-left: 0
		a
			display: block
			+hidetext
			text-decoration: none
			border: none
	.footer__copyright
		position: relative
		span
			position: absolute
			left: -65px
	.footer__menu
		+clr
		// margin-left: -17px
		// +justify
		ul
			font-size: 0
			display: table-cell
			vertical-align: top
			// max-width: 33.33333333%
			padding-left: 30px
			// margin-left: 35px
			// +justify-child
			&:first-child
				padding-left: 0
				// li
				// 	padding-left: 0
		li
			margin-top: 5px
			text-align: left
			font-size: 14px
			// padding-right: 10px
			&:first-child
				margin-top: 0
		a
			color: #4a4a4a
			text-decoration: none
			+transition(color 0.25s ease-out, background 0.25s ease-out, border-color 0.25s ease-out, box-shadow 0.25s ease-out)
			border-bottom: 1px solid rgba(#949494, .3)
			&:hover
				color: #087380
				text-decoration: none
				border-color: rgba(#087380, .3)
	.footer__studio
		display: inline-block
		width: 127px
		text-align: left
		strong
			+btb

.article
	// margin-left: 60px
	margin: 0px 60px 0 110px
	h1
		+btl
		font-size: 50px
		line-height: 1
		margin-left: -60px
		margin-bottom: 50px
	h2
		+btm
		font-size: 25px
		line-height: 1
		margin-left: -60px
		margin-top: 30px
		margin-bottom: 30px
	p
		line-height: 30px
		font-size: 18px
		margin-right: 30px
		margin-top: 30px
	figure
		margin-top: 30px
		margin-bottom: 30px
		img
			display: block

.filter
	border: 1px solid #e0e0e0
	border-width: 1px 0 0 0
	padding: 20px
	&:first-child
		border: none
	&.filter_switch
		font-size: 0
		li
			display: inline-block
			margin-left: 10px
			text-align: center
			&:first-child
				margin-left: 0
			&.is-active
				a
					background: #fff
					color: $gray
					.icon
						+opacity(.6)
		a
			position: relative
			display: block
			width: 80px
			height: 80px
			+border-radius(5px)
			text-decoration: none
			color: $gray
			padding-top: 60px
			+transition(all .3s linear)
			&:hover
				color: #000
				.icon
					+opacity(1)
			.icon
				position: absolute
				top: 10px
				left: 50%
				+transition(all .3s linear)
				+opacity(.6)
			.icon_list
				top: 15px
				margin-left: -14px
				// +svg(sort_list, 28, 28)
			.icon_pin
				top: 8px
				margin-left: -12px
				// +svg(sort_pin, 24, 40)
		span
			display: block
			+btm
			font-size: 12px
			line-height: 1
			text-transform: uppercase
	&.filter_sort
		padding: 20px 10px 14px 20px
		li
			margin-top: 14px
			&:first-child
				margin-top: 0
	&.filter_select
		padding: 0
	&.filter_categories
		padding: 20px 15px
		li
			&.is-active
				a
					background: #fff
					color: #5f5f5f
		a
			+btb
			display: inline-block
			padding: 14px 16px 11px
			// height: 41px
			line-height: 15px
			+border-radius(20px)
			font-size: 15px
			color: $gray
			text-transform: uppercase
			text-decoration: none
			letter-spacing: 0.03em
			+transition(all .2s linear)
			&:hover
				color: #000

.checkbox
	position: relative
	padding-left: 28px
	display: inline-block
	vertical-align: middle
	cursor: pointer
	font-size: 0
	min-height: 20px
	text-align: left
	.fa-check
		position: absolute
		left: 0
		top: 0
		width: 20px
		height: 20px
		font-size: 16px
		background: #fff
		+border-radius(3px)
		border: 1px solid #b7b7b7
		font-style: normal
		cursor: pointer
		color: #4a4a4a
		&:before
			display: none
			margin: 1px 0 0 1px
			color: $gray
	span
		display: inline-block
		vertical-align: middle
		font-size: 15px
		line-height: 20px
		color: $gray
		letter-spacing: 0.025em
		+nosel
		.fa
			margin-right: 7px
	input
		position: absolute
		left: 0
		top: 0
		z-index: 2
		width: 20px
		height: 20px
		opacity: 0
		cursor: pointer
		&:checked
			+ .fa-check
				&:before
					display: inline-block
.radio-group
	.radio-group__label
		font-size: 25px
		display: inline-block
		vertical-align: middle
		margin-right: 35px
	.radio-group__options
		display: inline-block
		vertical-align: middle
		.radio
			margin-left: 19px
			&:first-child
				margin-left: 0

.radio
	position: relative
	padding-left: 34px
	display: inline-block
	vertical-align: middle
	cursor: pointer
	font-size: 0
	min-height: 28px
	text-align: left
	.fa-circle
		position: absolute
		left: 0
		top: 0
		width: 28px
		height: 28px
		font-size: 14px
		background: #fff
		+border-radius(50%)
		border: 2px solid #e2e2e2
		font-style: normal
		cursor: pointer
		color: #4a4a4a
		&:before
			display: none
			margin: 5px 0 0 6px
			color: #4a4a4a
	span
		+btl
		display: inline-block
		vertical-align: middle
		font-size: 25px
		line-height: 28px
		color: #4a4a4a
		letter-spacing: 0.025em
		+nosel
		.fa
			margin-right: 7px
	input
		position: absolute
		left: 0
		top: 0
		z-index: 2
		width: 28px
		height: 28px
		opacity: 0
		cursor: pointer
		&:checked
			+ .fa-circle
				&:before
					display: inline-block

.select
	position: relative
	&:hover
		input
			color: #000
		.fa
			color: #000
	input
		display: block
		+bt
		width: 100%
		background: none
		font-size: 15px
		color: $gray
		padding: 17px 45px 17px 25px
		+text-overflow
		+transition(all .2s linear)
	.fa
		position: absolute
		top: 17px
		right: 26px
		font-size: 18px
		color: #979797
		+transition(all .2s linear)
	select
		position: absolute
		z-index: 2
		cursor: pointer
		-webkit-appearance: none
		top: 0
		left: 0
		width: 100%
		height: 100%
		margin: 0
		opacity: 0


+keyframes(progress-animate)
	0%
		+rotate(0)
	100%
		+rotate(360)


.btn
	+btm
	display: inline-block
	padding: 13px 20px
	font-size: 18px
	line-height: 18px
	border: 4px solid #f2cb12
	+border-radius(13px)
	+transition(all 150ms linear)
	+nosel
	color: #4a4a4a
	text-decoration: none
	white-space: nowrap
	background: transparent
	&:hover
		color: #fff
		background: #f2cb12
	&.btn_fill
		background: #feca30
		border-color: #feca30
		color: #fff
		&:hover
			background: transparent
			color: #4a4a4a
	&.btn_lg
		font-size: 28px
		line-height: 28px
		+border-radius(15px)
		padding: 20px 22px
	&.btn_spinner
		position: relative
		+bt
		font-size: 16px
		color: #8f8f8f
		+border-radius(19px)
		border: 1px solid #dcdcdc
		padding: 5px 18px
		line-height: 26px
		min-width: 365px
		.icon
			position: absolute
			top: 50%
			left: 50%
			margin-top: -11px
			margin-left: -11px
			+transition(all .4s ease-in-out)
			+opacity(0)
			+animation(progress-animate 1s linear infinite)
		span
			+transition(all .2s  ease-in-out)
			+opacity(1)
			+scale(1)
		&:hover
			background: none
		&.is-loading
			span
				+opacity(0)
				+scale(0)
			.icon
				+opacity(1)

.g-row
	+clr
	overflow: hidden
	width: 100%
.g
	float: left
	height: 0
	&.h1
		padding-bottom: 66.7%
	&.h2
		padding-bottom: 33.3%
	&.w1
		width: 66.7%
	&.w2
		width: 33.3%
	&.w3
		width: 30.7%
	&.h50
		width: 100%
		padding-bottom: 100.2%

.offers
	.offers__list
		overflow: hidden
		margin-right: -10px
		margin-top: -10px
	.offers__spinner
		text-align: center
		margin-top: 50px
		margin-bottom: 20px
		font-size: 0
	.offers__spinner-helper
		display: inline-block
		vertical-align: middle
		font-size: 14px
		color: #8f8f8f
		margin-left: 25px
		line-height: 1.2

// 250x250 /default
// 250x510 /wide
// 510x510 /big
.btn-prev
	display: inline-block
	+border-radius(18px)
	background-color: #fff
	background-color: rgba(#fff, .2)
	color: #fff
	font-size: 16px
	+bt
	padding: 7px 16px
	+nosel
	+transition(all .2s linear)
	&:hover
		background-color: rgba(#fff, .4)
	.fa
		padding-right: 9px


.deal
	.deal__offer
		position: relative
		margin-top: -10px
		margin-right: -10px
		+clr
		.btn-prev
			position: absolute
			top: 27px
			left: 20px
			z-index: 40
		.btn-order
			position: absolute
			top: 100%
			margin-top: 50px
			right: 0
			z-index: 60
			font-size: 28px
			color: #fff
			padding: 22px 16px
		.offer
			position: relative
			height: 0
			padding-bottom: 48.7%
			width: 100%
		.offer__heading
			padding-right: 15px
		.offer__date,
		.offer__descr
			width: 60%
		.offer__descr
			min-height: 85px
		.offer__info
			left: 20px
			z-index: auto
		.offer__heading
			position: relative
	.deal__map
		position: relative
		height: 268px
		margin-bottom: 40px
	.deal__tabs
		margin-top: 40px
		margin-bottom: 75px


.offer
	float: left
	position: relative
	overflow: hidden
	&:before
		position: absolute
		right: 0
		top: 0
		left: 0
		height: 10px
		background: #fff
		content: ""
		z-index: 1
	&:after
		position: absolute
		top: 0
		right: 0
		bottom: 0
		width: 10px
		background: #fff
		content: ""
		z-index: 1
	&.offer_lg
		.offer__heading
			min-height: 100px
		.offer__title
			+btb
			font-size: 50px
		.offer__date
			font-size: 18px
		.offer__descr
			font-size: 30px
	&.offer_wide
		.offer__heading
			min-height: 100px
		.offer__title
			+btb
			font-size: 40px
			line-height: 40px
	.offer__in
		position: absolute
		top: 10px
		right: 10px
		bottom: 0
		left: 0
		overflow: hidden
		background: #000
		&:hover
			// .offer__cover
			// 	+transform(scale(1.1))
			.offer__overlay
				+opacity(0)
	.offer__cover
		position: absolute
		top: -1px
		left: -1px
		right: -1px
		bottom: -1px
		background-repeat: no-repeat
		+cover
		+gpu
		// +transition(transform 0.5s linear)
		display: block
		&:before
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			// +transition(all .1s linear)
			+background-image(linear-gradient(bottom, #000 0%, rgba(0,0,0,0) 100%))
			+opacity(.5)
			content: ""
	.offer__overlay
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		+transition(all .2s linear)
		+opacity(.15)
		background-color: #000
	.offer__href
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		z-index: 10
	.offer__info
		position: absolute
		bottom: 20px
		left: 10px
		right: 20px
		z-index: 1
		color: #fff
	.offer__heading
		margin-bottom: 5px
		display: table
		width: 100%
		+clr
		min-height: 70px
	.offer__title
		display: table-cell
		vertical-align: middle
		width: 75%
		+btm
		font-size: 25px
		line-height: 28px
	.offer__brand
		display: table-cell
		vertical-align: middle
		text-align: right
		img
			display: inline-block
			vertical-align: middle
	.offer__date
		+btm
		font-size: 14px
		text-transform: uppercase
		padding-bottom: 11px
		margin-bottom: 20px
		position: relative
		&:before
			position: absolute
			bottom: 0
			left: -2px
			right: -2px
			height: 1px
			background: #fff
			+opacity(.4)
			content: ""
	.offer__descr
		+btb
		font-size: 16px
		p
			display: inline
	.offer__proviso
		+btl
		position: relative
		&:after
			display: inline
			content: "\2192"
			margin: 0 10px

.subscribe
	background: #fff
	border: 1px solid #e5e5e5
	border-width: 1px 0 0
	padding: 40px 5px
	.subscribe__in
		display: table
		margin: 0 auto
		+btl
		font-size: 40px
		line-height: 30px
		text-align: center
	.subscribe__step
		&.subscribe__step_anon
			.subscribe__num
				padding: 0 25px 0 0
		&.subscribe__step_finish
			font-size: 50px
			.subscribe__icon
				position: relative
				top: -3px
				display: inline-block
				vertical-align: middle
				+ws
				font-size: 56px
				color: #00a43e
				padding-right: 22px
			.subscribe__icon_success
				&:before
					content: "\00F4"
	.subscribe__info
		display: table-cell
		vertical-align: middle
	.subscribe__num
		display: table-cell
		vertical-align: middle
		font-size: 100px
		padding: 0 25px
	.subscribe__meta
		display: table-cell
		vertical-align: middle
		font-size: 25px
		text-align: left
	.subscribe__form
		display: table-cell
		vertical-align: middle
		padding-left: 40px
		font-size: 0
	.subscribe__field
		position: relative
		display: inline-block
		vertical-align: middle
	.subscribe__input
		+btl
		font-size: 25px
		line-height: 26px
		padding: 19px 178px 14px 21px
		display: block
		width: 421px
		color: #4a4a4a
		+placeholder-color(#d4d4d4)
		+font-smoothing
		+border-radius(8px)
		border: 1px solid #e3e3e3
		&:focus
			+placeholder-color(transparent)
	.subscribe__btn
		position: absolute
		top: 11px
		right: 10px
		padding: 9px 12px
		+border-radius(7px)
		&[disabled]
			cursor: default
			+opacity(.5)
			&:hover
				background: #feca30
				color: #fff
	.subsribe__form-success
		display: inline-block
		vertical-align: middle
		margin-left: 15px
		color: #00a43e
		font-size: 26px
		+ws

		&:before
			content: "\00F3"
	.subscribe__action
		display: inline-block
		vertical-align: middle
		+border-radius(7px)
		margin: 0 25px
		padding: 17px 18px
		font-size: 24px
		// color: #fff

.yandex-map
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0

.ymap
	position: relative
	width: 430px
	height: 175px
	// overflow: hidden
	.ymap__arrow
		&:before
			position: absolute
			bottom: -12px
			left: 50%
			margin-left: -12px
			+arr(25, 12, #fff, bottom)
			content: ""
	.ymap__close
		position: absolute
		top: 10px
		right: 10px
		width: 9px
		height: 9px
		background: url(../img/ymap_close.png) no-repeat center center
		cursor: pointer
		z-index: 1
	.ymap__inner
		+clr
		@include border-radius(5px)
		background-color: #fff
		@include box-shadow(0 39px 79px rgba(0,0,0,.55))
		overflow: hidden
	.ymap__pic
		position: relative
		float: left
		height: 175px
		width: 175px
		// +border-radius(5px 0 0 5px)
		overflow: hidden
		&:after
			content: ""
			position: absolute
			top: 0
			bottom: 0
			left: 0
			right: 0
			background: #e7e7e7
		img
			position: relative
			z-index: 1
			display: block
			max-width: 100%
			height: auto
	.ymap__main
		overflow: hidden
		padding: 15px
		text-align: left
		p
			font-size: 15px
			color: #4a4a4a
			margin-bottom: 8px
			a
				border-bottom: 1px solid #e5e5e5
				+transition(all .2s linear)
				&:hover
					border-color: #4a4a4a
	.ymap__title
		+btb
		font-size: 18px
		color: #4a4a4a
		margin-bottom: 5px
	.ymap__badge
		margin-bottom: 5px !important
		a
			display: inline-block
			margin-left: -7px
			color: #9b9b9b
			border: 1px solid #dcdcdc
			+border-radius(15px)
			padding: 4px 12px
			+nosel
			+transition(all .2s linear)
			&:hover
				border-color: #7a7a7a !important
				color: #7a7a7a


+keyframes(fadeIn)
	0%
		+opacity(0)
	100%
		+opacity(1)

.tabs
	margin-bottom: 70px
	.tabs__nav
		text-align: center
		font-size: 0
		li
			display: inline-block
			a
				display: block
				color: #979797
				font-size: 15px
				+btb
				text-transform: uppercase
				+transition(all .2s linear)
				border: 1px solid #dcdcdc
				border-width: 1px 1px 1px 0
				padding: 14px 22px 12px
				line-height: 15px
			&:first-child
				a
					border-width: 1px
					+border-radius(20px 0 0 20px)
			&:last-child
				a
					+border-radius(0 20px 20px 0)
			&:hover
				a
					color: #6c6c6c
			&.is-active
				a
					background: #f8f8f8
					color: #6c6c6c
	.tabs__content
		padding: 60px 50px 0
	.tabs__pane
		display: none
		+animation(fadeIn 1s both)
		&.is-active
			display: block

.note
	overflow: hidden
	p
		font-size: 18px
		color: #646464
		line-height: 24px
		margin-bottom: 1em
		width: 52.3%
		float: right
		&.note__thesis
			float: left
			width: 47.7%
			padding-right: 40px
			font-size: 25px
			line-height: 1.4
			margin-top: -0.2em
			margin-bottom: 0
	&.note_wide
		p
			width: auto
			float: none

.has-open-popup
	overflow: hidden
.overlay
	// display: none
	position: fixed
	top: 0
	right: 0
	left: 0
	bottom: 0
	z-index: 20000
	background: #000
	background: rgba(#000, .5)
	text-align: center
	overflow: auto
	font-size: 0
	visibility: hidden
	+opacity(0)
	+transition(visibility 0s linear 0.5s, opacity .3s linear)
	&.is-open
		+opacity(1)
		visibility: visible
		+delay(0s)

.popup
	position: fixed
	// top: -100%
	top: 0
	+transform(translate3d(0,-100%,0))
	left: 50%
	margin-left: -330px
	width: 660px
	+box
	+box-shadow(0 30px 50px rgba(0,0,0,.47))
	+font-smoothing
	background: #fff
	+transition(visibility 0s linear 0.5s, all 500ms cubic-bezier(0.77, 0, 0.175, 1))
	z-index: 25000
	visibility: hidden
	&.is-active
		// top: 0
		visibility: visible
		+transform(translate3d(0,0,0))
		+delay(0s)
		// .popup__content
			// height: 100% !important
			// +transition(height 0s linear)
	.popup__close
		cursor: pointer
		position: absolute
		top: 20px
		right: 20px
		font-size: 30px
		line-height: 1
		color: #4a4a4a
		+opacity(.2)
		+transition(all .2s linear)
		+ws
		&:before
			content: "\00CC"
		&:hover
			+opacity(1)
	.popup__content
		font-size: 12px
		text-align: left
		// height: 0 !important
		overflow: hidden
		padding: 50px 100px 40px
		// +transition(height 0s 500s)
	.popup__title
		font-size: 50px
		+btl
		line-height: 1
		margin-bottom: 60px
		text-align: center
	.popup__form
	.popup__row
		margin-top: 20px
		&:first-child
			margin-top: 0
		.radio-group
			padding-top: 5px
		&.popup__row_action
			position: relative
			text-align: center
			margin-top: 55px
			.del-action
				display: block
				position: absolute
				top: 15px
				left: 0
				text-align: left
.offer-slider
	position: relative
	.offer-slider__title
		text-align: center
		font-size: 35px
		+btm
		line-height: 1
		// margin-bottom: 20px
		margin: 0 120px 20px
	.offer-slider__nav
		position: absolute
		top: 6px
		right: 0
		font-size: 0
		width: 110px
		text-align: center
		+clr
		line-height: 1
	.offer-slider__prev,
	.offer-slider__next
		+ws
		font-size: 25px
		display: inline-block
		cursor: pointer
		color: #c7c7c7
		+transition(all .2s linear)
		// padding: 0 7px
		+nosel
		&:hover
			color: #4a4a4a
		// +hidetext
	.offer-slider__prev
		float: left
		&:before
			content: "\00D2"
	.offer-slider__next
		float: right
		&:before
			content: "\00D5"
	.offer-slider__in
		position: relative
		&:before
			position: absolute
			top: 9px
			bottom: 0
			right: -10px
			width: 10px
			background: #fff
			content: ""
			z-index: 1
		// overflow: hidden
	.offer-slider__row
		margin-right: -10px
		margin-bottom: 0
	.offer
		width: 33.3%
		padding-bottom: 33.3%
		// float: none
		height: 0
		+gpu
	.offer__info
		+gpu
	.offer__overlay
		+gpu
	.offer-slider__counter
		+btl
		+nosel
		display: inline-block
		padding: 3px 0
		font-size: 20px
		color: #4a4a4a
	.offer-slider__counter-current
		+btm
	// .offer-slider__counter-all

.main-title
	font-size: 50px
	+btl
	line-height: 1
	margin-bottom: 70px
	text-align: center
	.select
		position: relative
		display: inline-block
		vertical-align: middle
		overflow: hidden
		// vertical-align: middle
		// display: inline-block
		border-radius: 30px
		border: 1px solid #e0e0e0
		padding: 3px 28px 10px
		+transition(all .2s linear)
		&:hover
			border-color: #4a4a4a
			input
				color: #000
		input
			display: none
			+btl
			// width: 100%
			width: auto
			background: none
			font-size: 50px
			color: $gray
			// padding: 17px 45px 17px 25px
			+text-overflow
			// line-height: 1
			+transition(all .2s linear)
		select
			position: absolute
			z-index: 2
			cursor: pointer
			-webkit-appearance: none
			top: 0
			left: 0
			width: 100%
			height: 100%
			margin: 0
			opacity: 0

.transaction
	margin: 0 80px
	.transaction__title
		text-align: center
		font-size: 50px
		+btl
		line-height: 1
		margin-bottom: 70px

	.transaction__total
		+clr
		padding-bottom: 26px
		margin-bottom: 65px
		border-bottom: 1px solid #eaeaea
		line-height: 1
		li
			+btl
			font-size: 21px
			span
				+btm
	.transaction__total-income
		display: inline-block
	.transaction__total-outcome
		float: right
	.transaction__history
		margin-bottom: 100px
	.transaction__history-row
		display: table
		width: 100%
		line-height: 1
		margin-top: 40px
		&:first-child
			margin-top: 0
	.transaction__history-sum
		display: table-cell
		vertical-align: top
		width: 30%
		// vertical-align: middle
		+btb
		font-size: 40px
		padding-left: 40px
		.fa
			float: left
			margin-left: -40px
			font-size: 20px
			vertical-align: middle
			position: relative
			&.fa-plus
				color: #93cf94
				top: 10px
			&.fa-minus
				color: #ff6642
				top: 12px
	.transaction__history-descr
		display: table-cell
		vertical-align: top
		// vertical-align: middle
		font-size: 21px
		width: 52%
		p
			> span
				+btl
				font-size: 14px
				color: #9f9f9f
	.transaction__history-date
		display: table-cell
		vertical-align: top
		font-size: 16px
		color: #9f9f9f
		width: 18%
		// vertical-align: middle

.auto
	margin: 0 140px
	.auto__row
		+clr
		margin-top: 40px
		&:first-child
			margin-top: 0
	.auto__info
		float: left
		line-height: 1.2
	.auto__title
		+btb
		font-size: 20px
	.auto__num
		+btl
	.auto__status
		+btl
		font-size: 16px
		color: #9f9f9f
		&.auto__status_expire
			color: #e01e2d
	.auto__action
		float: right
		a
			font-size: 16px
			+btm
			color: #0720f4
			border-bottom: 1px solid #a3a3ff
			opacity: 0.6
			+transition(all .2s linear)
			&:hover
				opacity: 1
	.auto__add
		margin-top: 55px
		text-align: center

.del-action
	font-size: 15px
	+btm
	color: #e51832
	opacity: 0.6
	+transition(all .2s linear)
	&:hover
		opacity: 1
	span
		border-bottom: 1px solid #f9d7d8

.floatlabel
	+border-radius(8px)
	border: 1px solid #e3e3e3
	width: 100%
	display: block
	padding: 20px 17px 15px !important
	font-size: 23px
	line-height: 29px
	+btl
	+font-smoothing
	// +transition(border 1s linear)
	// &.floatlabel_mod
		// text-transform: uppercase
	// +transition(all .3s linear) !important
	// -webkit-transition: all .3s linear !important
	// -moz-transition: all .3s linear !important
	// -ms-transition: all .3s linear !important
	// -o-transition: all .3s linear !important
	// transition: all .3s linear !important
	// &:hover
	// 	border-color: #000
	&:focus
		border-color: #4a4a4a

.selectfloat
	position: relative
	// &:hover
		// .floatlabel
		// 	border-color: #000
		// .fa
		// 	color: #000
	// .selectfloat__input
	// 	display: block
	// 	+bt
	// 	width: 100%
	// 	background: none
	// 	font-size: 15px
	// 	color: $gray
	// 	padding: 17px 45px 17px 25px
	// 	+text-overflow
	// 	+transition(all .2s linear)
	.fa
		position: absolute
		top: 23px
		right: 21px
		font-size: 25px
		// color: #979797
		color: #4a4a4a
		+transition(all .2s linear)
		z-index: 1
	select
		position: absolute
		z-index: 2
		cursor: pointer
		-webkit-appearance: none
		top: 0
		left: 0
		width: 100%
		height: 100%
		margin: 0
		opacity: 0

.profile
	width: 461px
	margin-left: auto
	margin-right: auto
	.profile__userinfo
		margin-bottom: 20px
	.profile__row
		margin-bottom: 20px
	.profile__action
		text-align: center
		margin-top: 48px
	.profile__row_inline
		+clr
		.floatlabel-wrapper
			// display: inline-block
			width: 221px
			float: right
			// margin-left: 19px
			&:first-child
				float: left

